.code-editor
  height: 100%
  display: flex
  flex-direction: column
  font-size: 1.6rem

  code
    display: block

  > .top, > .bottom
    display: flex

    > code
      margin-right: auto

  > .bottom
    align-items: center
    margin-top: 0.6rem

    > a
      display: inline-block
      font-size: 1rem
      color: rgba(black, 0.5)

  > .top
    align-items: flex-end

    > code
      margin-bottom: 0.6rem

  > .editor
    height: 100%
    position: relative

    > .ace_editor
      position: absolute
      top: 0
      left: 0
      opacity: 0
      visibility: hidden

    @for $i from 1 through 2
      &.-active#{$i - 1} > .ace_editor:nth-child(#{$i})
        opacity: 1
        visibility: visible
